            bindings = <
&kp Q        &kp W           &kp E         &kp R        &kp T      &kp Y    &kp U             &kp I         &kp O                   &mt MINUS P
&mt LGUI A   &mt LEFT_ALT S  &mt LSHIFT D  &mt LCTRL F  &lt 6 G    &lt 6 H  &mt LCTRL J       &mt RSHIFT K  &mt LEFT_ALT L          &mt RGUI SEMICOLON
&kp Z        &kp X           &kp C         &kp V        &lt 7 B    &lt 5 N  &mt UNDERSCORE M  &kp COMMA     &mt EXCLAMATION PERIOD  &mt COLON SLASH
&lt 3 SPACE  &lt 4 TAB                                                                                      &lt 2 ENTER             &lt 1 BACKSPACE
            >;
        };


        num_layer {
            bindings = <
&mt LEFT_BRACE LEFT_BRACKET     &mt AMPERSAND N7          &mt ASTERISK N8       &mt LEFT_PARENTHESIS N9  &mt RIGHT_BRACE RIGHT_BRACKET    &none  &none      &none       &none         &none
&mt DOUBLE_QUOTES SINGLE_QUOTE  &mt DOLLAR NUMBER_4       &mt PERCENT N5        &mt CARET NUMBER_6       &mt PLUS EQUAL                   &none  &kp LCTRL  &kp RSHIFT  &kp LEFT_ALT  &kp RIGHT_GUI
&mt TILDE GRAVE                 &mt EXCLAMATION NUMBER_1  &mt AT_SIGN NUMBER_2  &mt HASH NUMBER_3        &mt PIPE BACKSLASH               &none  &none      &none       &none         &none
&mt RIGHT_PARENTHESIS N0        &mt UNDERSCORE MINUS                                                                                                                    &trans        &trans
            >;
        };


        sym_layer {
            bindings = <
&kp LEFT_BRACE         &kp AMPERSAND    &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_BRACE    &none  &none      &none      &none      &none
&kp DOUBLE_QUOTES      &kp DOLLAR       &kp PERCENT   &kp CARET             &kp PLUS           &none  &kp LCTRL  &kp RSHFT  &kp LALT   &kp RGUI
&kp TILDE              &kp EXCLAMATION  &kp AT_SIGN   &kp HASH              &kp PIPE           &none  &none      &none      &none      &none
&kp RIGHT_PARENTHESIS  &kp UNDERSCORE                                                                                       &kp ENTER  &kp BSPC
            >;
        };


        nav_layer {
            bindings = <
&none     &none         &none       &none      &none    &kp K_REDO  &kp K_PASTE    &kp K_COPY    &kp K_CUT  &kp K_UNDO
&kt LGUI  &kp LEFT_ALT  &kp LSHIFT  &kp LCTRL  &none    &kp LEFT    &kp DOWN       &kp UP_ARROW  &kp RIGHT  &kp DELETE
&none     &none         &none       &none      &none    &kp INSERT  &kp PAGE_DOWN  &kp PAGE_UP   &kp HOME   &kp END
&trans    &trans                                                                                 &kp ENTER  &kp BACKSPACE
            >;
        };


        mouse_layer {
            bindings = <
&none     &none         &none       &none      &none    &kp K_REDO        &kp K_PASTE       &kp K_COPY      &kp K_CUT          &kp K_UNDO
&kp LGUI  &kp LEFT_ALT  &kp LSHIFT  &kp LCTRL  &none    &mmv MOVE_LEFT    &mmv MOVE_DOWN    &mmv MOVE_UP    &mmv MOVE_RIGHT    &mkp MB3
&none     &none         &none       &none      &none    &msc SCROLL_LEFT  &msc SCROLL_DOWN  &msc SCROLL_UP  &msc SCROLL_RIGHT  &kp DELETE
&trans    &trans                                                                                            &mkp MB2           &mkp MB1
            >;
        };


        fn_layer {
            bindings = <
&kp F12     &kp F7      &kp F8  &kp F9  &kp PRINTSCREEN    &none  &none      &none       &none         &none
&kp F11     &kp F4      &kp F5  &kp F6  &kp SCROLLLOCK     &none  &kp LCTRL  &kp RSHIFT  &kp LEFT_ALT  &kp RGUI
&kp F10     &kp F1      &kp F2  &kp F3  &kp C_PAUSE        &none  &none      &none       &none         &none
&kp ESCAPE  &kp ESCAPE                                                                   &trans        &trans
            >;
        };


        sys_layer {
            bindings = <
&bootloader   &none         &none         &none         &none           &none         &none         &none         &none         &bootloader
&none         &none         &bt BT_PRV    &bt BT_NXT    &bt BT_CLR      &bt BT_CLR    &bt BT_NXT    &bt BT_PRV    &none         &none
&bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans        &trans                                                                                              &trans        &trans
            >;
        };


        media_layer {
            bindings = <
&none  &none  &none  &none  &none    &none       &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &none       &none
&none  &none  &none  &none  &none    &kp C_PREV  &kp C_VOLUME_DOWN     &kp C_VOLUME_UP       &kp C_NEXT  &none
&none  &none  &none  &none  &none    &none       &none                 &none                 &none       &none
&none  &none                                                                                 &none       &kp C_PLAY_PAUSE
            >;
        };
    };
};
